{% extends 'backend/backend/board.html.twig' %}

{% block title %}{{ parent() }} | Products{% endblock %}
{% block menu %}
    <ul class="product-list">
        {% for product in products %}
            <li>
                <a class="link--product-show" style="color: #0f6674; text-decoration: none" href="{{ path('app_backend_product_show', {productId: product.id}) }}">{{ product.name }}</a>
                <a class="link--product-edit" style="color:cadetblue;" href="{{ path('app_backend_product_edit', {productId: product.id}) }}">Bearbeiten</a>
                <a class="link--product-delete" style="color:red;" href="{{ path('app_backend_product_list', {productId: product.id, delete: 1}) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <div class="category--add-new">
        <a href="{{ path('app_backend_product_create') }}" class="btn btn-dark product-new">Neues Produkt</a>
    </div>
{% endblock %}