{% extends 'backend/backend/board.html.twig' %}

{% block title %}{{ parent() }} | Products{% endblock %}
{% block menu %}
    <ul class="product-list">
        {% for product in products %}
            <li>
                <a style="color: #0f6674; text-decoration: none" href="{{ path('app_backend_product_show', {productId: product.id}) }}">{{ product.name }}</a>
{#                <a style="color: red;" href="{{ path('app_backend_product_delete', {productId: product.id}) }}">Delete</a>#}
            </li>
        {% endfor %}
    </ul>

    <div class="category--add-new">
        <a href="{{ path('app_backend_product_create') }}" class="btn btn-dark product-new">Neues Produkt</a>
    </div>
{% endblock %}