{% extends 'backend/backend/board.html.twig' %}

{% block title %}{{ parent() }} | Products{% endblock %}
{% block body %}
    {{ parent() }}

    {% if product %}
        <h2>{{ product.name }}</h2>
        <table class="product-information">
            <tr><td>Gr&ouml;&szlig;e</td><td>{{ product.size }}</td></tr>
            <tr><td>Farbe</td><td>{{ product.color }}</td></tr>
            <tr><td>Kategoriename</td><td>{{ product.category.name }}</td></tr>
            <tr><td>Preis</td><td>{{ product.price }}</td></tr>
            <tr><td>Vorrat</td><td>{{ product.stock }}</td></tr>
            <tr><td>Aktiv</td>
                <td>{% if product.active %}active{% else %}inactive{% endif %}</td></tr>
        </table>
    {% endif %}
{% endblock %}