{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
    {{ parent() }}
    <h2>{{ title }}</h2>

    <ul class="category-list">
        {% for category in categories %}
            <a style="display: block" href="{{ path('app_frontend_categories', {categoryId: category.id}) }}">{{ category.name }}</a>
        {% endfor %}
    </ul>
{% endblock %}